# Server
APP_PORT=8080
APP_MODE=debug

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=devacademy
DB_SSLMODE=disable
DB_AUTOMIGRATE=true

# Redis (optional, set true jika pakai redis)
REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_SECRET=change-me-in-production
JWT_EXPIRY=24
